* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  color: #33332a;
  background-color: #202225;
}

.game {
  max-width: 28rem;
  margin: 1rem auto 1rem;
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0.15rem;
}

.card {
  color: #ffffff;
  text-align: center;
  background-color: #36393f;
  border: 1px solid #000000;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.43rem;
  cursor: pointer;
  height: 2.9rem;
  line-height: 2.9rem;
  white-space: nowrap;
  background-size: contain;
  border-radius: 0.25rem;
}

h1 {
  color: #b9bbbe;
  font-size: 2.92rem;
  margin: 0rem auto 0rem;
}
.header {
  margin-top: -1.2rem;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.score {
  font-size: 2.92rem;
  font-weight: bold;
  margin: 0rem auto 0rem;
}

#spySwitch {
  font-size: 0.43rem;
  border-radius: 0.25rem;
  border: 1px solid #000000;
  background-color: #36393f;
  color: #ffffff;
  margin-top: 0.5rem;
  padding: 0.5rem;
}

.scoreRed {
  color: #c73535;
}

.scoreBlue {
  color: #3f77da;
}

.red {
  color: #b9bbbe;
}
.blue {
  color: #b9bbbe;
}
.white {
  color: #b9bbbe;
}
.black {
  color: #b9bbbe;
}

.redSpy {
  background-image: radial-gradient(#c73535, #722020);
  color: white;
}
.blueSpy {
  background-image: radial-gradient(#3f77da, #254885);
  color: white;
}
.whiteSpy {
  background-image: radial-gradient(#ffffff, #c0c0c0);
  color: #505050;
}
.blackSpy {
  background-image: radial-gradient(#333333, #000000);
  color: #c7c7c7;
}

.redDown0 {
  background-image: url("./res/red0.png");
  color: rgba(255, 255, 255, 0);
}
.redDown1 {
  background-image: url("./res/red1.png");
  color: rgba(255, 255, 255, 0);
}
.blueDown0 {
  background-image: url("./res/blue0.png");
  color: rgba(255, 255, 255, 0);
}
.blueDown1 {
  background-image: url("./res/blue1.png");
  color: rgba(255, 255, 255, 0);
}
.whiteDown0 {
  background-image: url("res/white0.png");
  color: rgba(255, 255, 255, 0);
}
.whiteDown1 {
  background-image: url("res/white1.png");
  color: rgba(255, 255, 255, 0);
}
.blackDown0 {
  background-image: url("res/black1.png");
  color: rgba(255, 255, 255, 0);
}

@media (min-width: 720px) {
  .game {
    max-width: 40rem;
  }

  .board {
    gap: 0.25rem;
  }

  .card {
    font-size: 0.7rem;
    height: 5rem;
    line-height: 5rem;
  }

  h1 {
    font-size: 4.2rem;
  }
  .header {
    margin-top: -1.2rem;
  }

  .score {
    font-size: 4.2rem;
  }

  #spySwitch {
    font-size: 0.7rem;
    margin-top: 0.6rem;
    padding: 0.5rem;
  }
}

@media (min-width: 1080px) {
  .game {
    max-width: 65rem;
  }

  .board {
    gap: 0.35rem;
  }

  .card {
    color: #b9bbbe;
    font-size: 1.25rem;
    height: 8.3rem;
    line-height: 8.3rem;
  }

  h1 {
    font-size: 6.8rem;
  }
  .header {
    margin-top: -1.5rem;
  }

  .score {
    font-size: 6.8rem;
  }

  #spySwitch {
    font-size: 1.25rem;
    margin-top: 0.35rem;
    padding: 0.5rem;
    color: #b9bbbe;
  }
}

@media (min-width: 1440px) {
  .game {
    max-width: 75rem;
  }

  .board {
    gap: 0.5rem;
  }

  .card {
    font-size: 1.45rem;
    height: 9.6rem;
    line-height: 9.6rem;
  }

  h1 {
    font-size: 7.85rem;
  }
  .header {
    margin-top: -1.5rem;
  }

  .score {
    font-size: 7.85rem;
  }

  #spySwitch {
    font-size: 1.45rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
  }
}
